/* Global styles */
body, .card {
  background-color: #6ab6f5; /* Dark gray for background */
  color: #0c0b0b; /* White for text */
}

/* Styling for card components */
.card {
  border: 1px solid #000080; /* Navy blue border for cards */
}

/* Styling for buttons */
.btn-primary {
  background-color: #000080; /* Navy blue for buttons */
  border: none;
}

/* Styling for button hover state */
.btn-primary:hover {
  background-color: #000033; /* Darker shade of navy blue */
}

/* Styling for form inputs */
.form-control {
  background-color: #5b8be4; /* Dark gray for input fields */
  color: #a01a1a; /* White for input text */
  border: 1px solid #350f7a;
}

/* Styling for navigation bar */
.navbar {
  background-color: #5cbcda; /* Navy blue for navbar */
}

/* Styling for navigation links */
.nav-link {
  color: #ffffff; /* White for navigation links */
}

.nav-link:hover {
  color: #920f0f; /* Dark gray for hover state */
}
.navbar {
  background-color: #000000; /* Black color for navigation bar */
  color: rgb(0, 0, 0);
}

